apiVersion: v1
kind: Service
metadata:
  name: llm-service
  namespace: llm-serving
  labels:
    app: llm-api
spec:
  selector:
    app: llm-api
  ports:
  - name: http
    port: 80
    targetPort: 8000
    protocol: TCP
  - name: flask
    port: 5000
    targetPort: 5000
    protocol: TCP
  type: ClusterIP